$primary-color: hsl(120, 100%, 25%);
$secondary-color: hsl(0, 100%, 50%);
$light-gray: hsl(0, 0%, 83%);
$bg-color-light: hsl(0, 0%, 100%);
$bg-color-dark: hsl(0, 0%, 30%);
$border-radius: 8px;

$light-background: hsl(0, 0%, 100%);
$light-text: hsl(0, 0%, 20%);
$dark-background: hsl(0, 0%, 20%);
$dark-text: hsl(0, 0%, 100%);

$font-family: "Arial", sans-serif;
$heading-font-weight: bold;
$body-font-weight: normal;